@model  TournamentListViewModel

@{
    ViewData["Title"] = "Tournament List";
}

<div class="section-filters">
    <h3>XX Tournaments in our Database</h3>
    <form class="form-standard" method="post">
        <div class="form-standard-field">
            <input name="TournamentNameFilter" placeholder="Name" type="text" value="" />
        </div>
    </form>
</div>

<table class="table-game-entry table-primary">
    <thead>
        <tr>
            <th class="align-center">Tournament Id</th>
            <th class="align-center">Name</th>
            <th class="align-center">Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Tournament tournament in Model.Entries)
        {
            <tr class="">
                <td class="align-center">@tournament.Id</td>
                <td class="align-center">@tournament.Name</td>
                <td class="align-center">@tournament.StartDate.ToString("MM/dd/yy - HH:mm")</td>
                <td class="align-center">@tournament.EndDate?.ToString("MM/dd/yy - HH:mm")</td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        function goToProfile(id) {
            window.location.href = '/Player/Profile/' + id;
        }

        function goToGame(id) {
            window.location.href = '/Game/' + id
        }
    </script>
}