
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 0px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}



/*Global Variables*/
:root {
    /*Colors*/
    --color-primary: #BB86FC;
    --color-primary-dark: #3700B3;
    --color-secondary: #03DAC6;
    --color-secondary-dark: #018786;
    --color-secondary-darker: #006464;
    --color-background: #121212;
    --color-surface: #121212;
    --color-surface-dark: #0e0e0e;
    --color-surface-light: #1f1f1f;
    --color-surface-lighter: #2b2b2b;
    --color-matchup-table: #666666;
    --color-matchup-table-light: #777777;
    --color-matchup-table-dark: #555555;
    --color-error: #CF6679;
    --color-victory: #004311;
    --color-defeat: #540000;
    --color-on-primary: #000000;
    --color-on-secondary: #000000;
    --color-on-background: #CCCCCC;
    --color-on-surface: #CCCCCC;
    --color-on-error: #000000;
    /*Borders*/
    --border-radius: 4px;
}

/*Elements*/
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--color-background);
    color: var(--color-on-background);
}

hr {
    border-top: 1px solid var(--color-surface-dark);
}

/*Spacing and Alignment*/
.pad-top {
    margin-top: 20px;
}

.pad-top-lg {
    margin-top: 40px !important;
}

.text-align-center {
    text-align: center;
}

/*Inputs*/
input[type="search"],
input[type="text"],
input[type="select"],
input[type="tel"],
input[type="email"],
input[type="number"],
input[type="password"],
select {
    background-color: var(--color-surface-dark);
    border-radius: var(--border-radius);
    border: 2px solid var(--color-table-bg-tertiary);
    padding: 6px;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    color: var(--color-on-surface);
}

textarea {
    background-color: var(--color-surface-dark);
    border-radius: var(--border-radius);
    border: 2px solid var(--color-table-bg-tertiary);
    padding: 6px;
    font-size: 14px;
}



/*Form Standard*/
.form-standard {
    display:flex;
    flex-wrap:wrap;
    justify-content: flex-start;
}
.form-standard-field {
    margin: 5px 10px 5px 0;
}
.form-standard-field label {
    display:block;
}
.form-standard-field-checkbox {
    align-items: center;
    display: flex;
}
.form-standard-field-checkbox label {
    font-size:13px;
    font-weight:700;
}
.form-standard-field-checkbox input {
    margin:0 5px 0 0;
}


/*Animations*/
button,
.button,
input,
a {
    transition-property: color, background-color, border;
    transition-timing-function: ease-in-out;
    transition-duration: .2s;
}


/*Buttons*/
.button {
    border: 1px solid;
    border-radius: var(--border-radius);
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    padding: 5px 12px;
    text-decoration: none;
    background-color: #CCCCCC
}
.button-primary {
    background-color: var(--color-primary-dark);
    border-color: var(--color-primary-dark);
    color: var(--color-text-light);
}
.button-primary:hover {
    background-color: var(--color-primary-dark);
}
.button-secondary {
    background-color: var(--color-table-bg-primary);
    border-color: var(--color-primary-dark);
    color: var(--color-primary-dark);
}
.button-secondary:hover {
    background-color: var(--color-table-bg-tertiary);
}
.button-tertiary {
    background-color: var(--color-secondary);
    border-color: var(--color-secondary-dark);
    color: var(--color-text-light);
}
.button-tertiary:hover {
    background-color: var(--color-secondary-dark);
}
.button-simple {
    border:none;
    background-color:transparent;
    color:var(--color-secondary);
    font-size:14px;
}
.button-simple:hover {
    background-color: var(--color-surface-dark);
}
.button-small {
    font-size: 14px;
    padding: 8px 10px;
}


/*Button Bar*/
.button-bar {
    background-color: var(--color-table-bg-tertiary);
    bottom: 0px;
    left: 0px;
    padding: 20px;
    position: fixed;
    text-align: right;
    width: 100%;
}

.button-bar-label {
    display: inline-block;
    margin: 0 20px 0 0;
    font-weight: 400;
}

/*Header*/
header {
    align-content:center;
    align-items:center;
    border-bottom:6px solid var(--color-secondary-dark);
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    padding:10px 20px;
    position:relative;
    z-index:5;
}
header h1 a {
    color: var(--color-text-tertiary);
    font-size:19px;
    text-decoration:none;
    text-transform:uppercase;
}
@media only screen and (max-width:1080px) {
    header {
        justify-content:center;
    }
}

/*Messages*/
.message {
    border-style: solid;
    border-width: 1px 0 1px 0;
    color: var(--color-text-secondary);
    display: inline-block;
    line-height: 22px;
    margin: 10px 0;
    padding: 20px;
    text-align: center;
    width: 100%;
}

.message-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}

.message-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.message-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.message-error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.message ul li {
    list-style: none;
}


/*Nav*/
.nav-super {
    margin: 10px 0;
    padding: 0px;
    text-align: right;
    width: 100%;
}
.nav-super li {
    display:inline-block;
}
.nav-super li a {
    color:var(--color-on-background);
    font-size:12px;
    font-weight:700;
    margin:0 0 0 10px;
    text-decoration:none;
    text-transform:uppercase;
}
.nav-super li a i {
    color:var(--color-tertiary);
    font-size:15px;
    display:inline-block;
}
.nav-main {
    margin: 0px;
    padding: 0px;
    text-align: right;
    width: 100%;
}
.nav-main-nolink {
    cursor:default;
}
.nav-main > li {
    display:inline-block;
    margin:0 0 0 20px;
    position:relative;
}
.nav-main > li > a {
    color:var(--color-secondary);
    display:block;
    padding:10px 0;
    text-decoration:none;
    text-transform:uppercase;
}
.nav-main > li:hover > .nav-main-sub {
    display:block;
}
.nav-main-sub {
    background-color:var(--color-table-bg-primary);
    box-shadow:0 0 6px rgba(0,0,0,.2); 
    border:1px solid var(--color-secondary-dark);
    display:none;
    position:absolute;
    top:100%;
    right:0px;
    text-align:left;
    list-style:none;
    padding:0px;
    margin:0px;
}
.nav-main-sub:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid var(--color-secondary-dark);
    position:absolute;
    top:-10px;
    right: 20px;
}
.nav-main-sub > li > a {
    color:var(--color-primary-dark);
    display:block;
    border-bottom:1px solid var(--color-table-bg-tertiary);
    padding:10px 15px;
    text-decoration:none;
    min-width: 150px;
    white-space: nowrap;
}
.nav-main-sub > li > a:hover {
    background-color:var(--color-surface-dark);
}
@media only screen and (max-width:1080px) {
    .nav-wrap {
        width:100%;
        flex:0 0 100%;
    }
    .nav-super,
    .nav-main {
        text-align: center;
    }
}


/*Main*/
main {
    display: inline-block;
    position:relative;
    width: 100%;
}
main.button-bar-active {
    padding:0 0 100px 0;
}

/*Sections*/
div[class^="section-"] {
    display: inline-block;
    width: 100%;
}

/*Section Header*/
.section-heading {
    padding:0 20px;
    text-align:center;
}
.section-heading h2 {
    color:var(--color-secondary);
    font-weight:400;
}
.section-heading h2 span {
    color:var(--color-tertiary);
    font-size:14px;
    font-weight:700;
    display:inline-block;
    vertical-align:middle;
}

/*Section Filters*/
.section-filters {
    align-content:center;
    align-items:center;
    background-color: var(--color-secondary-dark);
    color: #fff;
    display: flex!important;
    justify-content:flex-start;
    padding: 20px;
}
.section-filters > * {
    margin:0 20px 0 0!important;
}
.section-filters a {
    font-weight: 700;
    color: var(--color-text-light);
    text-decoration: none;
    margin: 0px!important;
    white-space: nowrap;
}
.section-filters a i {
    font-size: 16px;
    margin: 0 5px 0 0;
}
.section-filters h3 {
    color: var(--color-on-surface);
    margin: 0px;
    font-size: 16px;
    white-space: nowrap;
}

/*Section Summary*/
.section-summary {
    background-color:var(--color-surface-dark);
    padding:20px;
}
.summary-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items:flex-start;
}
.summary-group {
    margin:0 20px 20px 0;
    border: 1px solid var(--color-table-bg-tertiary);
    padding: 10px;
    border-radius: 4px;
}
.summary-group label {
    display:block;
    font-weight:bold;
    font-size:12px;
    margin:0 0 4px 0;
}
.summary-group input {
    border:none;
    padding:0px;
    height:30px;
    color: var(--color-primary-dark);
}
.summary-group textarea {
    border:none;
    padding:0px;
    resize: none;
    height:30px;
}
.summary-buttons {
    border:none;
    padding:0px;
}

/*Section Form*/
.section-form {
    padding:0 20px;
}
.section-form form {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    max-width:800px;
    margin:0px auto;
}
.section-form form hr {
    flex:0 0 100%;
    margin:20px 0;
}

/*Section Login*/
.section-login {
    text-align:left;
    padding:50px 20px;
}
.section-login form {
    margin:0px auto;
    border:2px solid var(--color-table-bg-tertiary);
    border-radius:var(--border-radius);
    background-color: var(--color-table-bg-primary);
    padding:20px;
    max-width:400px;
}
.section-login .form-group-checkbox {
    width: auto;
    display: inline-block;
    flex: 0 0 auto;
    margin: 0 20px 0 0;
    line-height: 40px;
}
.section-login form hr {
    flex: 0 0 100%;
    margin: 20px 0;
}
.section-login-links {
    text-align:center;
}

/*Section Map*/
.section-map {
    display: flex!important;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
    position: relative;
    z-index: 0;
    height: calc(100% - 105px);
    /*height: -o-calc(100% - 105px); /* opera */
    /*height: -webkit-calc(100% - 105px); /* google, safari */
    /*height: -moz-calc(100% - 105px); /* firefox */
}
.section-map-wrap {
    flex: 0 0 calc(100% - 350px);
    width: calc(100% - 350px) !important;
}

/*Section Cards*/
.section-cards {
    text-align:center;
    padding:0 20px;
}
.cards-wrap {
    max-width:800px;
    margin:0 auto;
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    align-items:center;
    align-content:center;
}
.cards-card {
    width:48%;
    flex:0 0 48%;
    margin:0 0 4% 0;
    background-color:var(--color-surface-dark);
    color:var(--color-secondary);
    border-radius:var(--border-radius);
    border:1px solid var(--color-primary-dark);
    padding:6%;
    text-decoration:none;
    font-size:22px;
}
.cards-card:hover {
    background-color: var(--color-table-bg-tertiary);
}




/*Form Group*/
.form-group {
    align-content:flex-start;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
}
.form-group span {
    flex:0 0 48%;
}
.form-group label:not(.form-group-checkbox) {
    display:block;
    font-weight:700;
    font-size:14px;
    margin:0 0 4px 0;
    width:100%;
    text-align:left;
}
.form-group label small {
    color:var(--color-text-primary);
    display:block;
    font-style:italic;
}
.form-group input[type="search"],
.form-group input[type="text"],
.form-group input[type="select"],
.form-group input[type="tel"],
.form-group input[type="email"],
.form-group input[type="number"],
.form-group input[type="password"],
.form-group select,
.form-group textarea {
    margin:0 0 10px 0;
    width:100%;
    color: var(--color-on-surface)
}
.form-group-checkbox {
    font-weight:700;
    font-size:14px;
    display:inline-block;
    flex:0 0 100%;
    margin:0 0 10px 0;
    width:100%;
}
.form-group-currency {
    position:relative;
    display:block;
}
.form-group-currency > input {
    padding:6px 6px 6px 26px;
}
.form-group-currency:before {
    content: "\f155";
    color: var(--color-text-primary);
    display: block;
    font-family: 'Font Awesome 5 Pro';
    font-weight: 400;
    left: 10px;
    position: absolute;
    top: 10px;
    z-index: 10;
}
.form-group-large {
    flex: 0 0 48%;
    width: 48%;
}
.form-group-full {
    flex: 0 0 100%;
    width: 100%;
}
.form-group-heading {
    color: var(--color-tertiary);
    margin: 10px 0 !important;
    font-size: 17px !important;
}
.form-group-center {
    justify-content:center;
}

/*Table Primary*/
.table-primary {
    border-collapse:collapse;
    font-size:14px;
    width:100%;
    color: var(--color-on-surface);
}
.table-primary .align-left {
    text-align:left;
}
.table-primary .align-right {
    text-align:right;
}
.table-primary .align-center {
    text-align:center;
}
.table-primary tbody tr {
    transition-duration:.2s;
    transition-property:outline, background-color;
    transition-timing-function:ease-in-out;
}
.table-primary tbody tr:nth-child(odd) {
    background-color: var(--color-surface-light);
}
.table-primary tbody tr:nth-child(even) {
    background-color: var(--color-surface-lighter);
}
.table-primary tbody tr:hover {
    background-color:var(--color-secondary-darker);
    outline:2px solid var(--color-tertiary);
    outline-offset:-2px;
    cursor:pointer;
}
.table-primary th,
.table-primary td {
    padding:8px 6px;
}
.table-primary th {
    background-color: var(--color-secondary);
    color:var(--color-on-secondary);
    text-transform:uppercase;
    font-size:12px;
}
.table-primary th i {
    opacity:.5;
}


/*Table Modifiers*/
.table-box {
    border-radius: var(--border-radius);
    box-shadow: 0 0 0 2px var(--color-table-bg-tertiary);
    overflow: hidden;
}
.table-sm {
    max-width:800px;
    margin:0px auto;
}
.table-xsm {
    max-width: 400px;
    margin: 0px auto;
}
.table-icon {
    font-size:30px;
}
.table-icon-error {
    color: #E74C3C;
}
.table-icon-success {
    color: #2ECC71;
}
.table-report tbody tr:hover {
    background-color: var(--color-table-bg-primary);
    outline: none;
    cursor: default;
}
.table-report tbody tr:nth-child(even):hover {
    background-color: var(--color-surface-dark);
    outline: none;
    cursor: default;
}



.profile-overview {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.profile-header {
    margin-right: 10%;
    padding-top: 3%;
    padding-bottom: 2%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 2px;
    border: none;
    background-color: var(--color-surface-light);
    margin-top: 5%;
    margin-bottom: 5%;
}

.profile-header hr {
    border-color: var(--color-on-surface);
}

.profile-header-content h5,
.profile-header-content h6 {
    margin-top: 1%;
    margin-bottom: 1%;
}

.profile-header-content h6 {
    text-indent: 5%;
}

.profile-matchups {
    height: 100%;
}



/*Table Matchups*/
.table-matchups {
    border-collapse: collapse;
    font-size: 14px;
    width: 30%;
    height: 30%;
    background-color: #666666;
    margin-top: 5%;
    margin-bottom: 5%;
    transition-timing-function:ease-in-out;
    transition-duration:.2s;
    transition-property:outline, background-color;
}
.table-matchups .align-left {
    text-align:left;
}
.table-matchups .align-right {
    text-align:right;
}
.table-matchups .align-center {
    text-align:center;
}
.table-matchups tbody tr:nth-child(odd) {
    background-color: var(--color-matchup-table-dark);
}
.table-matchups tbody tr:nth-child(even) {
    background-color: var(--color-matchup-table);
}

.matchup-cell-colored-sticky,
.matchup-cell-colored {
    background-color: var(--color-secondary-dark) !important;
    outline:1px solid var(--color-tertiary);
    outline-offset:-2px;
    cursor:pointer;
    transition-duration:.15s;
    transition-property:outline, background-color;
    transition-timing-function:ease-in-out;
}

.table-matchups th,
.table-matchups td {
    border: solid;
    border-width: 1px;
    border-color: black;
    text-align: center
}

.table-matchups th, .table-matchups td {
    color:var(--color-text-light);
    text-transform:uppercase;
    font-size:12px;
}
.table-matchups th i {
    opacity:.5;
}

.stock-icon,
.stock-icon-faded {
    padding-left: 5px;
    padding-right: 5px;
}

.stock-icon-faded {
    opacity: 0.2;
}

.stock-icon-multiple {
    margin: 8%;
}

.stock-icon-multiple-all {
    width: 40%;
    margin: auto;
    margin-top: 2%;
}

.stage-icon {
    padding-left: 10px;
    padding-right: 10px;
}

.stage-image {
    width:540px;
    height: auto;
}

.stage-name {
    font-size: 36px;
}

.game-entry {
    font-size: 120%;
}

.table-game-entry {

}
.table-game-entry tbody tr:nth-child(odd) {
    background-color: var(--color-surface-light);
}
.table-game-entry tbody tr:nth-child(even) {
    background-color: var(--color-surface-lighter);
}
.table-game-entry tbody tr:hover {
    background-color:var(--color-secondary-darker);
    outline:2px solid var(--color-tertiary);
    outline-offset:-2px;
    cursor: auto;
}
.result-victory {
    background-color: var(--color-victory)
}
.result-defeat {
    background-color: var(--color-defeat)
}

.player-profile-opponent-name {
    color: #96c3d8;
    cursor: pointer;
    margin: 0px;
}

.player-profile-opponent-name:hover {
    background-color: var(--color-secondary-dark);
    transition-duration: .2s;
}

.game-overview {
    /*border: 1px solid yellow;*/
    background-color: var(--color-surface-light);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
    overflow: auto;
}


.game-overview-player {
    /*border: 1px solid green;*/
    background-color: var(--color-surface-lighter);
    text-align: center;
    font-size: 36px;
    margin: 1%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 3%;
    padding-right: 3%;
    width: 48%;
}

.game-overview-player:nth-of-type(1) {
    /*border: 1px solid red;*/
    float: left;
}

.game-overview-player:nth-of-type(2) {
    /*border: 1px solid purple;*/
    float: right;
}

.button-replay {
    margin-top: 5%;
    margin-bottom: 2%;
}

*:hover { 
    /*outline:1px #72dadd solid*/
} 