@{
    ViewData["Title"] = "Upload Page";
}

<div class="section-heading">
    <h2>Upload a Game</h2>
</div>


<div>
    <input id="replayInput" type="file" />
</div>


@section Scripts
{
    <script type="module">
        import { Game } from 'https://cdn.skypack.dev/@@slippilab/parser';
        const input = document.querySelector('#replayInput');
        input.onchange = async () => {
            console.log(new Game(await input.files[0].arrayBuffer()));
        }
    </script>
}
