<ul class="nav-main">
    <li>
        <a asp-controller="Upload" asp-action="Index">Upload</a>
    </li>
    <li>
        <a asp-controller="Stats" asp-action="Index">Games</a>
    </li>
    <li>
        <a asp-controller="Player" asp-action="List">Players</a>
    </li>
    <li>
        <a asp-controller="Game" asp-action="Index">Replays</a>
    </li>
</ul>