<ul class="nav-main">
    @if (User.Identity.IsAuthenticated)
    {
        <li>
            <a asp-controller="Game" asp-action="Upload">Upload</a>
        </li>
        <li>
            <a asp-controller="Game" asp-action="List">Games</a>
        </li>
        <li>
            <a asp-controller="Player" asp-action="List">Players</a>
        </li>
    }
    else
    {
        <li><a asp-controller="Account" asp-action="Login">Login</a></li>
    }
</ul>