<ul class="nav-main">
    <li>
        <a asp-controller="Home" asp-action="Privacy">Privacy</a>
    </li>
    <li>
        <a asp-controller="Stats" asp-action="Index">Games</a>
    </li>
    <li>
        <a asp-controller="Player" asp-action="List">Players</a>
    </li>
</ul>